<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Table of Booking</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tanggal</th>
                        <th>Nama Tempat</th>
                        <th>Nama Pemesan</th>
                        <th>Nama Bank</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% booking.map((b, i) => { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= b.bookingStartDate.toLocaleString().split(",")[0] %> s/d <%= b.bookingEndDate.toLocaleString().split(",")[0] %></td>
                            <td><%= b.itemId.title %></td>
                            <td><%= b.customerId.firstName %> <%= b.customerId.lastName %></td>
                            <td><%= b.bankId.bankName %></td>
                            <td><%= b.payments.status %></td>
                            <td>
                                    <a href="/admin/booking/<%= b._id %>" class="btn btn-success btn-sm button-update">
                                        <i class="fas fa-eye"></i>
                                    </a>
                            </td>
                        </tr>
                        <% }); %>         
                </tbody>
            </table>
        </div>
    </div>
</div>